.navigation{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:65px;
    background-color:#343434;
    color:#fff;
    box-shadow: 0 5px 5px lightgrey;
}

.navigation-teaser{
    font-family: 'Helvetica';
    font-size: 1.5rem;
}

.navigation-logo-container{
    display:flex;
    justify-content: center;
    align-items: center;
    width:40px;
    height:40px;
    margin-right:1rem;
}

img{
   object-fit: cover;
   width:100%; 
}


@media (max-width:480px){
    .navigation-logo-container{
        display:none;
    }
}